.table_item:hover {
    background-color: #f5f5f5;
}
.table_item_options {
    width: 120px;
    height: 70px;
}
.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;    
}
.option_item {
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}
.option_edit:hover {    
    background-color: #479dff;    
}
.option_delete:hover {
    background-color: #ff4d4d;
}